{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="state-error">
                {% for error in errors %}
                    <div>- {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}