{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="state-error">
                {% for error in errors %}
                    <div>- {{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}