<!DOCTYPE html>
<html lang="es" class="smart-style-1">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'Home' | trans }}{% endblock %} - Search Engine {{  project.version }} of JSinner </title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="{% block author %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- #CSS Links -->
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output="css/app.css"
            "assets/public/css/bootstrap.min.css"
            "assets/vendor/font-awesome/css/font-awesome.min.css"
            "assets/public/css/smartadmin-production-plugins.min.css"
            "assets/public/css/smartadmin-production.min.css"
            "assets/public/css/smartadmin-skins.min.css"
            "assets/public/css/smartadmin-rtl.min.css"
            "assets/public/css/extra.min.css"
            "assets/public/css/fonts.googleapis.com/css6b36.css"
            "assets/public/css/jquery.gritter.css"
            "assets/public/js/libs/loading/assets/Loading.css"
            "assets/vendor/angular-loading-bar/build/loading-bar.min.css"
            "assets/public/css/specific.css"
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock stylesheets %}

        <!-- #FAVICONS -->
        {% stylesheets 'assets/public/img/favicon/favicon.ico' %}
        <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- #APP SCREEN / ICONS -->
        <!-- Specifying a Webpage Icon for Web Clip Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="{{ asset('assets/public/img/splash/sptouch-icon-iphone.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/public/img/splash/touch-icon-ipad.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/public/img/splash/touch-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/public/img/splash/touch-icon-ipad-retina.png') }}">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="{{ asset('assets/public/img/splash/ipad-landscape.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="{{ asset('assets/public/img/splash/ipad-portrait.png') }}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="{{ asset('assets/public/img/splash/iphone.png') }}" media="screen and (max-device-width: 320px)">
        <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }</style>
    </head>

    <!--

    TABLE OF CONTENTS.

    Use search to find needed section.

    ===================================================================

    |  01. #CSS Links                |  all CSS links and file paths  |
    |  02. #FAVICONS                 |  Favicon links and file paths  |
    |  03. #GOOGLE FONT              |  Google font link              |
    |  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
    |  05. #BODY                     |  body tag                      |
    |  06. #HEADER                   |  header tag                    |
    |  07. #PROJECTS                 |  project lists                 |
    |  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
    |  09. #MOBILE                   |  mobile view dropdown          |
    |  10. #SEARCH                   |  search field                  |
    |  11. #NAVIGATION               |  left panel & navigation       |
    |  12. #MAIN PANEL               |  main panel                    |
    |  13. #MAIN CONTENT             |  content holder                |
    |  14. #PAGE FOOTER              |  page footer                   |
    |  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
    |  16. #PLUGINS                  |  all scripts and plugins       |

    ===================================================================

    -->

    <!-- #BODY -->
    <!-- Possible Classes

        * 'smart-style-{SKIN#}'
        * 'smart-rtl'         - Switch theme mode to RTL
        * 'menu-on-top'       - Switch to top navigation (no DOM change required)
        * 'no-menu'			  - Hides the menu completely
        * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
        * 'fixed-header'      - Fixes the header
        * 'fixed-navigation'  - Fixes the main menu
        * 'fixed-ribbon'      - Fixes breadcrumb
        * 'fixed-page-footer' - Fixes footer
        * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
    -->
    <body class="smart-style-1">

        <!-- #HEADER -->
        <header id="header">

            <div id="logo-group">

                <!-- PLACE YOUR LOGO HERE -->
                <span id="logo">
                    {% image 'assets/public/img/logo.png' %}
                    <img src="{{ asset_url }}" alt="Jsinner">
                    {% endimage %}
                </span>
                <!-- END LOGO PLACEHOLDER -->

            </div>

            <!-- #TOGGLE LAYOUT BUTTONS -->
            <!-- pulled right: nav area -->
            <div class="pull-right">

                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span>
                        <a data-action="toggleMenu" title="{{ 'Collapse Menu' | trans }}">
                            <i class="fa fa-reorder"></i>
                        </a>
                    </span>
                </div>
                <!-- end collapse menu -->

                <!-- #MOBILE -->
                <!-- Top menu profile link : this shows only when top menu is active -->
                <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                    <li class="">
                        <a class="no-margin">
                            {% image 'assets/public/img/avatars/male.png' %}
                            <img src="{{ asset_url }}" alt="{{ 'Avatar of' | trans }} Anonymous User" class="online" />
                            {% endimage %}
                        </a>
                    </li>
                </ul>

                <!-- fullscreen button -->
                <div id="fullscreen" class="btn-header transparent pull-right">
                    <span> <a data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                </div>
                <!-- end fullscreen button -->

            </div>
            <!-- end pulled right: nav area -->

        </header>
        <!-- END HEADER -->

        <!-- #NAVIGATION -->
        <!-- Left panel : Navigation area -->
        <!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
        <aside id="left-panel">

            <!-- User info -->
            <div class="login-info">
                <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

                    <a id="show-shortcut" title="Anonymous User">
                        {% image 'assets/public/img/avatars/male.png' %}
                        <img src="{{ asset_url }}" alt="me" class="online" />
                        {% endimage %}
                        <span>
                            {{ 'Anonymous User' | slice(0, 30) }}
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                </span>
            </div>
            <!-- end user info -->

            <!-- NAVIGATION : This navigation is also responsive

            To make this navigation dynamic please make sure to link the node
            (the reference to the nav > ul) after page load. Or the navigation
            will not initialize.
            -->
            <nav>
                <!--
                NOTE: Notice the gaps after each icon usage <i></i>..
                Please note that these links work a bit different than
                traditional href="" links. See documentation for details.
                -->
                {% block menu %}
                    <!-- .nav-list -->
                    {{ knp_menu_render('mainMenu', {'currentClass': 'active txt-color-blue', 'template': 'Menu/knp_menu.html.twig'}) }}
                    <!-- /.nav-list -->
                {% endblock menu %}
            </nav>

            <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

        </aside>
        <!-- END NAVIGATION -->

        <!-- #MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon">

                <span class="ribbon-button-alignment">
                    <span class="btn btn-ribbon"><i class="fa fa-home"></i></span>
                </span>
                &nbsp;
                <!-- breadcrumb -->
                <ol class="breadcrumb">
                {% block breadcrumb %}
                    {% set currentItem = cnerta_breadcrumb_get('mainMenu') %}
                    {# some crazy stuff #}
                    {% for item in currentItem %}
                        {% if loop.index != 1 %}
                            {% if loop.index > 1 %}{% endif %}
                            {% if not loop.last %}<li><a href="{{ item.uri }}">{{ item.label }}</a></li>
                            {% else %}<li><span>{{ item.label }}</span></li>{% endif %}
                        {% endif %}
                    {% endfor %}
                {% endblock breadcrumb %}
                </ol>
                <!-- end breadcrumb -->

                <!-- You can also add more buttons to the
                ribbon for further usability

                Example below:

                <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
                    <a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
                    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
                    <button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
                </span> -->

            </div>
            <!-- END RIBBON -->

            <!-- #MAIN CONTENT -->
            <div id="content">
                {% block body %}{% endblock body %}
            </div>

            <!-- END #MAIN CONTENT -->

        </div>
        <!-- END #MAIN PANEL -->

        <!-- #PAGE FOOTER -->
        <div class="page-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <span class="txt-color-white">Jsinner: Search Engine 1.0 <span class="hidden-xs"> - Powered by Symfony - </span> &copy; 2016-2021</span>
                </div>

                <div class="col-xs-5 col-sm-5 text-right hidden-xs">
                    <div class="txt-color-white inline-block">
                        <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong> 1 min ago &nbsp;</strong> </i>
                        <div class="btn-group dropup">
                            <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
                                <i class="fa fa-link"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right text-left">
                                <li>
                                    <div class="padding-5">
                                        <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                                        <div class="progress progress-micro no-margin">
                                            <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="padding-5">
                                        <p class="txt-color-darken font-sm no-margin">Server Load</p>
                                        <div class="progress progress-micro no-margin">
                                            <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li >
                                    <div class="padding-5">
                                        <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                                        <div class="progress progress-micro no-margin">
                                            <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="padding-5">
                                        <button class="btn btn-block btn-default">refresh</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- end btn-group-->
                    </div>
                    <!-- end div-->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- END FOOTER -->

        <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
             Note: These tiles are completely responsive, you can add as many as you like -->
        <div id="shortcut">
            <ul>
                <li>
                    <a href="#ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
                </li>
                <li>
                    <a href="#ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
                </li>
                <li>
                    <a href="#ajax/profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
                </li>
            </ul>
        </div>
        <!-- END SHORTCUT AREA -->

        <!--================================================== -->

        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


        <!-- #PLUGINS -->
        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        {% block mainjavascripts %}

            {% javascripts filter="?jsqueeze" output="js/app-main.js"
            "bundles/fosjsrouting/js/router.js"
            "assets/public/js/libs/jquery.js"
            "assets/vendor/bootstrap/dist/js/bootstrap.min.js"
            "assets/vendor/angular/angular.min.js"
            "assets/vendor/jquery-ui/ui/dist/jquery-ui.min.js"
            "assets/public/js/libs/app.config.js"
            "assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"
            "assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"
            "assets/public/js/libs/notification/SmartNotification.min.js"
            "assets/public/js/libs/smartwidgets/jarvis.widget.min.js"
            "assets/public/js/libs/sparkline/jquery.sparkline.min.js"
            "assets/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"
            "assets/vendor/jquery.easy-pie-chart/dist/angular.easypiechart.min.js"
            "assets/vendor/jquery-validation/dist/jquery.validate.min.js"
            "assets/vendor/jquery.maskedinput/dist/jquery.maskedinput.min.js"
            "assets/vendor/select2/dist/js/select2.full.min.js"
            "assets/vendor/select2/dist/js/i18n/es.js"
            "assets/public/js/libs/msie-fix/jquery.mb.browser.min.js"
            "assets/public/js/libs/speech/voicecommand.min.js"
            "assets/public/js/libs/smart-chat-ui/smart.chat.ui.min.js"
            "assets/public/js/libs/smart-chat-ui/smart.chat.manager.min.js"
            "assets/vendor/fastclick/lib/fastclick.js"
            "assets/public/js/libs/jquery.gritter.min.js"
            "assets/public/js/libs/loading/assets/Loading.js"
            "assets/public/js/libs/app.js"
            "assets/public/js/libs/helper.min.js"
            "assets/vendor/angular-loading-bar/build/loading-bar.min.js"
            "assets/vendor/angular-animate/angular-animate.min.js"
            "assets/public/js/libs/angular-custom-utils/filters/capitalize.js"
            "assets/public/js/libs/angular-custom-utils/filters/offset.js"
            "assets/public/js/libs/angular-custom-utils/interceptors/httpInterceptorFactory.js"
            "assets/vendor/mixitup/build/jquery.mixitup.min.js"
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% endblock mainjavascripts %}

        {% block javascript %}{% endblock javascript %}

        {% block scriptinpage %}{% endblock scriptinpage %}

        <!--[if IE 8]>
        <h1>{{ "Your browser is out of date, please update your browser by going to www.microsoft.com/download or choose another browser like Google Chrome chorme.google.com" | trans }}</h1>
        <![endif]-->

        <script type="text/javascript">
            {% block javascriptsGoogleAnalytics %}{% endblock javascriptsGoogleAnalytics %}
        </script>

    </body>

</html>