{% extends '::base.html.twig' %}

{% block title %}Register New File{% endblock %}

{% block body %}

    <section>
        <div class="row">
            <article class="col-sm-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                        <h2>{{ 'Register new File' | trans }} </h2>
                    </header>

                    <!-- widget content -->
                    <div role="content">

                        <div class="widget-body no-padding">

                            {{ form_start(form, {'attr': {'class': 'smart-form'}}) }}

                            <fieldset id="div-register-message">
                                {% if not form.vars.valid %}
                                    <div class="alert alert-danger" role="alert">
                                        There is a few errors. Check the form fields.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                {% else %}
                                    <div class="alert alert-info">
                                        Keep in mind allowed mime types are "text/plain", "text/csv", "text/html", "application/xml", "text/javascript", "application/json".
                                    </div>
                                {% endif %}
                            </fieldset>

                            <fieldset>

                                <div class="col-xs-12 col-md-12">
                                    <label class="label" for="file_title">File Title</label>
                                    <label class="input">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}</label>
                                    <div id="note-error-for-firstName" class="note note-error">{{ form_errors(form.title) }}</div>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <section>
                                        <label class="input input-file" for="file_location">
                                            <div class="button">
                                                {{ form_widget(form.location, { 'attr': {'class': 'form-control', 'placeholder': 'Select a File', 'onchange': '$("#file_location_mirror_text").val(this.value);'} }) }}
                                                {{ 'Browse' | trans }}
                                            </div>
                                            <input id="file_location_mirror_text" type="text" readonly="" placeholder="Include some files">
                                        </label>
                                    </section>
                                    <div id="note-error-for-firstName" class="note note-error">{{ form_errors(form.location) }}</div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <div class="col-xs-12 col-md-12">
                                    <label class="label" for="file_description">File Description</label>
                                    <label class="textarea textarea-resizable">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}</label>
                                    <div id="note-error-for-firstName" class="note note-error">{{ form_errors(form.description) }}</div>
                                </div>
                            </fieldset>

                            <footer>
                                <button class="btn btn-primary">
                                    Submit
                                </button>
                                <a id="btn-return-back" class="btn btn-danger" type="button">
                                    Back
                                </a>
                            </footer>

                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    {% javascripts filter="?jsqueeze" output="js/compiled/file/new-register.js"
    "assets/public/js/modules/file/new-register.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}