{% extends '::base.html.twig' %}

{% block title %}Search for Files{% endblock %}

{% block body %}

{% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}

<div data-ng-app="searchEngine">
    <div data-ng-controller="administrationCtrl as adminCtrl">
        <section>
            <div class="row">
                <article class="col-sm-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" role="widget" data-widget-togglebutton="true" data-widget-fullscreenbutton="true">

                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>{{ 'Search for Files' | trans }} </h2>
                        </header>

                        <!-- widget content -->
                        <div role="content">

                            <div class="widget-body no-padding">

                                {{ form_start(form, {'attr': {'class': 'smart-form', 'ng-submit': 'adminCtrl.search()'}}) }}

                                <fieldset>

                                    <div>
                                        <section class="col-xs-12 col-md-4 col col-4">
                                            <label class="label" for="file_title">File Title</label>
                                            <label class="input">{{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'File Title', 'ng-model': 'adminCtrl.file.file_search_form.title', 'ng-disabled': 'adminCtrl.file.file_search_form.searchType=="FS"' } }) }}</label>
                                        </section>

                                        <section class="col-xs-12 col-md-4 col col-4">
                                            <label class="label" for="file_type">File Type</label>
                                            <label class="input">{{ form_widget(form.type, { 'attr': {'class': 'form-control', 'ng-model': 'adminCtrl.file.file_search_form.type', 'ng-disabled': 'adminCtrl.file.file_search_form.searchType=="FS"'} }) }}</label>
                                        </section>

                                        <section class="col-xs-12 col-md-4 col col-4">
                                            <label class="label" for="file_createdAt">File Registration Date</label>
                                            <label class="input">{{ form_widget(form.createdAt, { 'attr': {'class': 'form-control hasDatepicker', 'readonly': 'readonly', 'placeholder': 'File Registration Date', 'ng-model': 'adminCtrl.file.file_search_form.createdAt', 'ng-dblclick': 'adminCtrl.toggleCreateAtField()', 'data-provide': 'datepicker', 'ng-disabled': 'adminCtrl.file.file_search_form.searchType=="FS"' } }) }}</label>
                                        </section>
                                    </div>

                                </fieldset>

                                <fieldset>

                                    <div class="col-xs-12 col-md-4 col col-4">
                                        <label class="label" for="file_description">File Description</label>
                                        <label class="input">{{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'File Description', 'ng-model': 'adminCtrl.file.file_search_form.description', 'ng-disabled': 'adminCtrl.file.file_search_form.searchType=="FS"' } }) }}</label>
                                    </div>

                                    <div class="col-xs-12 col-md-4 col col-4">
                                        <label class="label" for="file_content">File Content</label>
                                        <label class="input">{{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder': 'File Content', 'ng-model': 'adminCtrl.file.file_search_form.content' } }) }}</label>
                                    </div>

                                    <div class="col-xs-12 col-md-4 col col-4">
                                        <label class="label" for="file_content">Search type</label>
                                        <label class="input">{{ form_widget(form.searchType, { 'attr': {'class': 'form-control', 'placeholder': 'File Content', 'ng-model': 'adminCtrl.file.file_search_form.searchType', 'ng-change': 'adminCtrl.changeSearchType()' } }) }}</label>
                                    </div>

                                </fieldset>

                                <footer>
                                    <button class="btn btn-primary search">
                                        Search
                                    </button>
                                    <button class="btn btn-default reset" type="reset" ng-click="adminCtrl.resetSearchForm()">
                                        Reset
                                    </button>
                                    <a id="btn-return-back" class="btn btn-danger back" type="button">
                                        Back
                                    </a>
                                </footer>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section id="widget-grid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>{{ 'Files List' | trans }} </h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <table id="files-table" class="table table-striped table-bordered table-hover hover datatable-fixed-column table-admin-panel row-border" width="100%"
                                       datatable="ng" dt-options="adminCtrl.dtOptions" dt-column-defs="adminCtrl.dtColumnDefs">
                                    <thead>
                                    <tr>
                                        <th data-class="expand">{{ 'ID' | trans }}</th>
                                        <th data-class="expand">{{ 'TITLE' | trans }}</th>
                                        <th data-class="expand">{{ 'DESCRIPTION' | trans }}</th>
                                        <th width="21%">{{ 'TYPE' | trans }}</th>
                                        <th width="14%">{{ 'REGISTRATION DATE' | trans }}</th>
                                        <th width="5%">{{ 'ACTIONS' | trans }}</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr data-ng-show="adminCtrl.filesList.length>0"
                                        data-ng-repeat="file in adminCtrl.filesList | orderBy: 'id'"
                                        data-ng-class="{'selected' : file.selected}"
                                        data-ng-cloak
                                    >
                                        <td>[[ file.id ]]</td>
                                        <td title="[[ file.title ]]">[[ file.title | limitTo:50 ]]</td>
                                        <td title="[[ file.description ]]">[[ file.description | limitTo:50 ]]</td>
                                        <td>[[ file.type.name ]]</td>
                                        <td title="[[ file.createdAt.timestamp*1000 | date:'yyyy-MM-dd HH:mm' ]]">[[ file.createdAt.timestamp*1000 | date:'yyyy-MM-dd HH:mm' ]]</td>
                                        <td class="text-center">
                                            <a href="[[ adminCtrl.pathToDownload('{{ app.request.getHttpHost() }}/uploads/', file.location) ]]" download>
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </div>

            </div>

        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}

    <script src="{{ asset("assets/vendor/datatables/media/js/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/angular-datatables/dist/angular-datatables.min.js") }}"></script>
    <script src="{{ asset("assets/public/js/libs/plugin/datatable-responsive/datatables.responsive.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/angular-datatables/dist/plugins/select/angular-datatables.select.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.min.js") }}"></script>
    <script src="{{ asset("assets/public/js/libs/plugin/datatable-responsive/datatables.responsive.min.js") }}"></script>

    {% javascripts filter="?jsqueeze" output="js/compiled/file/search.js"
    "assets/public/js/modules/file/search/app.js"
    "assets/public/js/modules/file/search/controllers/administrationCtrl.js"
    "assets/public/js/modules/file/search/services/fileSearchEngineFactory.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block scriptinpage %}
<script>
    var filesList = {{ filesList | raw }};
</script>
{% endblock scriptinpage %}