{% extends '::base.html.twig' %}

{% block body %}
    {# total items count #}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Topic', 'a.topicDescripction') }}</th>
            <th{% if pagination.isSorted('a.message') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Message', 'a.message') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Creation Date', ['a.creationDate']) }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Status', ['a.status']) }}</th>
        </tr>

        {# table body #}
        {% for notification in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ notification.topicDescripction }}</td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.creationDate | date('Y-m-d H:i:s') }}</td>
                <td>{{ notification.status }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock body %}

{% block javascript %}

{% endblock javascript %}