.note.note-error {
    color: #c26565;
}

div.dataTables_filter input, div.dataTables_length select {
    margin-left: 7px;
    margin-right: 7px;
    padding: 0px 10px;
}

div.dataTables_length label {
    text-align: right !important;
    float: right !important;
}

.datepicker-days table td {
    cursor: pointer;
    text-align: center;
}

.datepicker-days table td:hover {
    background-color: #EEEEEE;
    color: #0c7cd5;
}