<a {% for attr, value in options %}
     {% if attr!='href' %}
          {{ attr }}="{{ value }}"
     {% else %}
          onClick="ordenarResultado('{{ value }}');"
     {% endif %}
   {% endfor %}
>
   {{ title }}
</a>